@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800;900&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
  background-color: #ffdfeb;
}
#root {
  padding: 80px 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
main {
  width: 70%;
  min-height: 80vh;
  background: #ffffff;
  border-radius: 46px;
  padding: 80px 10px 80px;
}
.weather-now-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.short-info {
  width: 30%;
  height: 700px;
  background: #fff;
  border-radius: 41px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-image: url("../public/bg.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 120px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.025);
}
.short-info h1 {
  font-weight: 600;
  font-size: 100px;
  margin-top: 35px;
}
.short-info h2 {
  font-weight: 600;
  font-size: 35px;
  margin: 110px 0 80px;
  text-transform: capitalize;
}
.general-container {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo-container {
  display: flex;
  align-items: center;
}
.logo-text {
  font-weight: 600;
  font-size: 60px;
  margin-left: 20px;
}
.search-form {
  display: flex;
  align-items: center;
  width: 100%;
}
.form-input {
  background: #d9f6ff;
  border-radius: 47px;
  width: 350px;
  height: 71px;
  font-weight: 700;
  font-size: 20px;
  color: #cdcaca;
  border: none;
  padding: 0 10px 0 40px;
}
.form-input:focus {
  outline: none;
}
.error-input {
  border: 3px solid #ff4b4b;
}
.btn-submit {
  width: 135px;
  height: 71px;
  background: #ffdfeb;
  border-radius: 21px;
  font-weight: 600;
  font-size: 20px;
  border: none;
  cursor: pointer;
  transition: 0.2s;
  margin-left: 20px;
}
.btn-submit:hover {
  background: #ffa9c8;
}
.general-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 70px;
  transition: 0.5s;
}
.info-block {
  width: 286px;
  height: 189px;
  background: #ffffff;
  border-radius: 23px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}
.info-title {
  font-weight: 700;
  font-size: 20px;
  padding-right: 130px;
}
.info-value {
  font-weight: 700;
  font-size: 40px;
  margin: 0 0 40px;
}
.pressure {
  background-image: url("../public/pressure-bg.png");
  background-repeat: no-repeat;
  background-position: top left;
}
.humidity {
  background-image: url("../public/humidity-bg.png");
  background-repeat: no-repeat;
  background-position: top left;
}
.wind {
  background-image: url("../public/wind-bg.png");
  background-repeat: no-repeat;
  background-position: top left;
}
.visibility {
  background-image: url("../public/visibility-bg.png");
  background-repeat: no-repeat;
  background-position: top left;
}
.weather-daily-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.weather-daily-container h1 {
  font-weight: 600;
  font-size: 60px;
  margin: 120px 0 0;
}
.forecast-daily-wrapper {
  margin: 20px 0 0;
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.weather-daily-item {
  width: 254px;
  height: 337px;
  background: #ffffff;
  border-radius: 42px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 0px 23px rgba(0, 0, 0, 0.04);
  margin-top: 60px;
}
.weather-daily-item h2 {
  font-weight: 600;
  font-size: 65px;
  margin: 12px 0;
}
.weather-daily-item p {
  font-weight: 600;
  font-size: 30px;
}
.clear {
  background-image: url("../public/Ellipse.png");
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: top left;
}
.clouds {
  background-image: url("../public/Cloud.png");
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: top left;
}
.rain {
  background-image: url("../public/Cloud-blue.png");
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: top left;
}
.modal {
  width: 254px;
  height: 73px;
  background: #fdafaf;
  border-radius: 19px;
  position: absolute;
  top: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 0.3s;
}
.modal-show {
  opacity: 1;
}
.modal p {
  font-weight: 600;
  font-size: 20px;
  color: #fff;
}

.loading-container {
  margin-top: 70px;
  height: 408px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* LOADING ANIMATION */

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 150px;
  height: 150px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #ffa9c8;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

/* END OF LOADING ANIMATION */

@media screen and (max-width: 1600px) {
  main {
    width: 90%;
    min-height: 90vh;
    padding: 80px 10px 80px;
  }
  .short-info {
    height: 90vh;
  }
  .short-info h2 {
    margin-top: 50px;
  }
  .general-container {
    width: 50%;
  }
  .info-block {
    width: 250px;
  }
}
